{% extends "layout.html" %}

{% block main %}
    <div  class='row h-75 no-gutters border border-light' >
        <div class='col-3  text-center' id="smallcol">
            <h2 id='username' class='text-center bg-light m-1 rounded ' style="color: black;"></h2>
            <h4 class='pl-1'>Private messages</h4>
            <ul id='inbox' class="list-group h-25 border border-light rounded m-1">
            <!--place for list of users (private conversation)-->
            </ul>
            <h4 class='pl-1 pt-2'>Channels&nbsp; <kbd>+</kbd></h4>
            <ul id='channelList' class="list-group text-center h-50 m-1 ">
            <!--place for list of channels-->
            </ul>
        </div>
        <div class='col-9 bg-light border border-dark rounded-left rounded-right p-3 d-flex flex-column justify-content-end h-100' >
            <div id='messages' >
            <!--place for all messages-->
            </div>
            <input id='messageInput' type='text' class="  form-control text-right " maxlength="80" placeholder="Type a message..">
        </div>
        
        
    </div>
    <nav class="navbar navbar-expand-md navbar-dark rounded-bottom bg-dark border border-light" id="footer">
        <label>Developed By ❤️ Taher Ali.</label>
    </nav>
    <div class="modal fade" id="myModal" >
        <div class="modal-dialog">
            <div class="modal-content ">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title "></h4>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <input id='modalInput' type='text' class="form-control w-50"  >
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button id='modalButton' type="button" class="btn btn-danger" data-dismiss="modal" disabled>Ok</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}